.text_entete {
    background-image: url("/image/Cybersécurité1.png");
    /* position: absolute; */
    height: 300px;
    padding-top: 100px;
    padding-left: 50px;
    font-size: 700px;
    text-align: left;
    color: white;
}
.bloc1{
    background-color: #F3E5E9;
    box-shadow: 2px #F3E5E9;
    grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        margin-top: 50px;
        margin-left: 20px;
        width: 90%;
        margin-bottom: 50px;

}
.blanc{
    background-color: white;
    color: red;
}
.rede{
    background-color: red;
    color: white;
}
.bloc1 button{
    width: 50%;
    height: 50px;
    border-radius: 10%;
    margin-left: 75px;
    margin-bottom: 20px;
    border: none;
}
.bloc11{
    justify-content: space-between;
    background-color:#F3E5E9;
    /* padding: 20px; */
    align-items: center;
    width: 100%;
    
 /* text-align: center; */
}
.bloc_formation img{
    width: 100%;
}
.bloc_formation{
display: grid;
grid-template-columns: repeat(4, 1fr);argin-top: 50px;
margin-bottom: 50px;
margin-right: 20px;
margin-left:20px ;
overflow: hidden;
width: 100%;
background-color:#D9D9D9 ;

}
p{
    font-size: 20px;
    margin-left: 20px;
}
.formation{
    font-size: 42px;
    text-decoration: underline;
    margin-top: 10px;
    /* margin-left: 20px; */

}
