.titre{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    
}
.titre h4{
    text-align: center;

}
.titre h4::after{
    content: '';
    display: block;
    width: 10%;
    height: 10px;
    border-bottom: 5px red solid;
    margin: 0 auto;

}


.banner {
    height: 600px;
    width: 100%;
    background-color: black;
}

.banner img {
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.banner .banner-text {
    position: relative;
    color: white;
    top: -450px;
    padding-left: 50px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.banner .banner-text p {
    width: 50%;
    margin-top: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}


@media screen and (max-width:767px){
    .banner .banner-text {
        width: 100%;
        padding-left: 0px;
        text-align: center;
        
    }
    
    .banner .banner-text p {
       width: 90%;
    }
}