.titre{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    
}
.titre h4{
    text-align: center;

}
.titre h4::after{
    content: '';
    display: block;
    width: 10%;
    height: 10px;
    border-bottom: 5px red solid;
    margin: 0 auto;

}