.banner{
    height: 400px;
    width: 100%;
    background-color: black;
}
.banner img{
    height: 100%;
    width: 100%;
    opacity: 0.5;
}
.banner .banner-text{
    position: relative;
    color: white;
    top: -350px;
    padding-left: 50px;
}
.banner .banner-text p{
  width: 50%;
  margin-top: 40px;
}
.banner .banner-text button{
  width: 30%;
  background-color: #CE0034;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  height: 35px;
}

/* card  */
#cards{
    width: 80%;
}
#card-remake img{
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.9);
    max-height: 160px;
}
.card-remake {
    /* border: none; */
    border: 1px red solid;
}
#card-remake{
  height: 400px;
}
#card-remake p{
  height: 120px;
  font-weight: lighter;
}
#card-remake h5 {
  text-align: center;
}
#card-remake .card-body{
    border: 1px red solid;
    border-top: none;
}