.banner {
  height: 400px;
  width: 100%;
  background-color: black;
}

.banner img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.banner .banner-text {
  position: relative;
  color: white;
  top: -350px;
  padding-left: 50px;
}

.banner .banner-text p {
  width: 50%;
  margin-top: 40px;
}

.banner .banner-text button {
  width: 30%;
  background-color: #CE0034;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  height: 50px;
  
}

/* card  */
#cards {
  width: 80%;
}

#card-remake img {
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.9);
  max-height: 160px;
}

.card-remake {
  /* border: none; */
  border: 1px red solid;
}

#card-remake {
  height: 400px;
}

#card-remake p {
  height: 120px;
  font-weight: lighter;
}

#card-remake h5 {
  text-align: center;
}

#card-remake .card-body {
  border: 1px red solid;
  border-top: none;
}


/* section  */
.section-width {
  width: 80%;
  margin: 0 auto;
}

/* section partenaires */

.section-partenaire {
  height: auto;
  /* background-color: red; */
}

.section-partenaire .partenaire-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-partenaire .partenaire-item {
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background-color: #F3E5E9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.section-partenaire .partenaire-item .image {
  width: 35%;
  /* background-color: green; */

}

.section-partenaire .partenaire-item .image img {
  border-radius: 20px 0 0 20px;
  width: 100%;
  /* height: 100%; */
  height: 200px;

}

.section-partenaire .partenaire-item .text {
  width: 65%;
  /* background-color: aqua; */
  /* padding: 20px 60px 20px 60px; */
  padding-right: 80px;
  padding-left: 80px;


}
.section-partenaire .partenaire-item .text p{
 min-height: 100px;


}

/* section temoignage */
.temoignage {
  /* background-color: red; */
  height: auto;
}

.temoignage .temoignage-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.temoignage .temoignage-items .temoignage-item {
  /* background-color: green; */
  width: 58.2%;
  height: 250px;
}

.temoignage .temoignage-item:nth-child(2),
.temoignage .temoignage-item:nth-child(3),
.temoignage .temoignage-item:nth-child(6) {
  width: 40%;
}

/* section actualite et impact */
.actualite {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: auto;
  background-color: #F3E5E9;

}

.actualite .acutalite-item {
  width: 100%;
  height: auto;
}

.actualite .acutalite-item img {
  width: 100%;
  height: 400px;
}


.impact {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 400px;
  overflow: scroll;
  background-color: #F3E5E9;
}

.impact .impact-item {
  width: 45%;
  text-align: center;
  height: 50%;
}

.impact .impact-item span {
  color: #CE0034;
  font-size: 20px;
  font-weight: bold;
}

/* section soutien */
.soutien {
  display: flex;
  height: 150px;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: X mandatory;

}

.soutien-item {
  width: 20%;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.soutien-item img {
  width: 100%;
  height: 100%;
}



/***** responsive *****/

@media screen and (max-width:767px) {

  /* section banniere */
  .banner .banner-text {
    position: relative;
    color: white;
    top: -350px;
    padding-left: 0;
    text-align: center;
  }

  .banner .banner-text p {
    width: 80%;
    padding-top: 20px;
    text-align: start;
    margin: 0 auto;
  }

  .banner .banner-text p br {
    display: none;
  }

  .banner .banner-text button {
    width: 80%;
    margin-top: 50px;
  }

  /* section partenaires */
  .section-partenaire {
    height: auto;
    width: 95%;
    /* background-color: red; */
  }

  .section-partenaire .partenaire-items {
    gap: 20px;
  }

  .section-partenaire .partenaire-item {
    width: 100%;
    height: auto;
  }

  .section-partenaire .partenaire-item .image {
    width: 35%;
    height: 400px;
    /* background-color: green; */

  }

  .section-partenaire .partenaire-item .image img {
    width: 100%;
    height: 100%;

  }

  .section-partenaire .partenaire-item .text {
    padding-right: 5px;
    padding-left: 5px;
  }


  /* section temoignage */
  .temoignage {
    width: 100%;
  }
  
  .temoignage .temoignage-items {
    gap: 5px;
  }
  
  .temoignage .temoignage-items .temoignage-item {
    width: 80%;
    margin: 0 auto;
  }
  
  .temoignage .temoignage-item:nth-child(2),
  .temoignage .temoignage-item:nth-child(3),
  .temoignage .temoignage-item:nth-child(6), .temoignage .temoignage-item:nth-child(5) {
    width: 40%;
  }
  

  /* section soutien */
  
  .soutien-item {
    width: 33%;
  }
  
}

/***** End responsive *****/