*{
    margin: 0;
    padding: 0;
}
.Recrutement-alterne .recrutement-banier-alter{
    background-image:url(image/pédagogie_active.jpg);
    background-repeat: no-repeat;
    width: 100%; 
    height: 600px;
    background-size: cover;
}
@media screen and( max-width:780px){
    .recrutement-alter-row{
       
    }
    
}