
*{
    margin: 0;
    padding: 0;
    font-family: 'nunito';
}
body{
    background-color: rgb(253, 248, 248);
}
:root{
    --color-primaire:#CE0034;
    --color-secondaire:#ce0034d2;
}
.container_bg_vae .baniere_vae{
    background-image: url('../images_candidater/vae1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
width: 100%;
text-align: center;
}
.container_bg_vae .baniere_vae .hover{
    background: #0000006c;
    background-size: cover;
    height:100%;
    width: 100%
}
.container_bg_vae .baniere_vae .hover span{
    position: relative;
    top: 30%;
    color: white;
}
.container_bg_vae .baniere_vae .hover span h1{
   font-weight: 700;
   font-size: 32px;
}

.container_bg_vae .baniere_vae .hover span button{
    color: white;
    background: var(--color-primaire);
    width: 15%;
    height: 50px;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
   
}
.container_bg_vae .baniere_vae .hover span button a{
   
   text-decoration: none;
   color: white;
}
/* ***************************vae middle*************************** */
.container_vae_middle {
    /* border: 1px solid #000; */
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    
}
.container_vae_middle .vae_middle1{
    margin: 0 auto;
    /* text-align: center; */
}
/* ***************************vae middle*************************** */
.container_vae_middle .vae_middle1 h1{
   color: var(--color-primaire);
   text-align: center;
}
.container_vae_middle .vae_middle1 p{
    font-size: 18px;}
    .container_vae_middle .vae_middle1 a{
        color: var(--color-primaire);
        text-decoration: none;
        font-weight: 700;
    }
    /* ************************middle2*************** */
    .container_vae_middle  .vae_middle2{
        width: 100%;
    gap: 5%;
    background-color: #000;
    padding: 1%;
}
    .container_vae_middle  .vae_middle2 .vae_middle2_text{
   color: white;
}
.container_vae_middle  .vae_middle2 .vae_middle2_image img{
   width: 500px;
   height: 300px;
   margin: 5% auto;
}
.container_vae_middle .vae_middle3 {
/* border: 1px solid #000; */
background-color: var(--color-primaire);
padding: 1% 5%;
color: white;
text-align: center;
font-weight: 700;
}
.container_vae_middle .vae_middle4 {
    margin-top: 1%;
    margin-bottom: 0;
    background-image: url('../images_candidater/conatct1.jpg');
    height: 100%;
}
.container_vae_middle .vae_middle4 .vae_middle4_text {
   
   background: #00000081;
    background-size: cover;
    height: 450px;
    text-align: center;
    color: white;
    padding: 10% 0;
  
}
.container_vae_middle .vae_middle4 .vae_middle4_text #btn_middle4{
    position: relative;
    top: -5%;
    color: #f6f6f6;
    width: 10em;
    height: 3em;
    border: 0;
    border-radius: 5px;
    background-color: var(--color-primaire);
    font-weight: 700;
    font-size: 18px;
}
/* ********************responsive*********************** */
@media screen and (max-width:767px){
    .container_bg_vae .baniere_vae{
        width: 100%;
    }
    .container_vae_middle  .vae_middle2{
        display: flex;
        flex-direction: column;
        padding: 2% 10%;
        
    }
    .container_vae_middle  .vae_middle2 .vae_middle2_image img{
       width: 100%;
     }
     .container_bg_vae .baniere_vae .hover span button{
        width: 20%;
    }
}
/* ***************************vae middle*************************** */