.text_entete {
    background-image: url("/image/developpeur1.png");
    /* position: absolute; */
    height: 300px;
    padding-top: 100px;
    padding-left: 50px;
    text-align: left;
    color: white;
    font-size: 60px;
   
}
.entete_mariage {
    font-size: 56px;
    width: 100%;
}
.bloc1 {
    background-color: #F3E5E9;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    width: 90%;
    margin-bottom: 50px;
    /* border: red solid; */

}

.blanc {
    background-color: white;
    color: red;
    border: red solid;
}

.rede {
    background-color: red;
    color: white;
    border: white solid;
}

.bloc1 button {
    width: 50%;
    height: 45px;
    border-radius: 20%;
    margin-left: 75px;
    margin-bottom: 20px;
}

.bloc11 {
    justify-content: space-between;
    background-color: #F3E5E9;
    /* padding: 20px; */
    align-items: center;
    width: 100%;


    /* text-align: center; */
}

.bloc_formation img {
    width: 100%;
}

.bloc_formation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    width: 100%;
    background-color: white;
    /* border: red solid; */

}

p {
    margin-left: 20px;
}

.formation {
    font-size: 42px;
    text-decoration: underline;
    margin-top: 10px;
    /* margin-left: 20px; */

}
@media screen and (max-width: 767px){
    .infrastructure_cs{
        width: 80%;
        margin: auto;
        font-size: 10px;
    }
    .text_entete{width: 100%;
         font-size: 12px;

    }
    .formation{font-size: 13px;}
    .bloc_formation{font: size 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}