
*{
    margin: 0;
    padding: 0;
    /* font-family: 'verdana'!important; */
}
body{
    background-color: rgb(253, 248, 248);
}
:root{
    --color-primaire:#CE0034;
    --color-secondaire:#ce0034d2;
}
/***** header *****/



#nav {
    background-color: #F3E5E9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}



.container_candidater {
    /* border: 1px solid #000; */
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.banniere_candidat{
    background: url('../images_candidater/course3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
width: 100%;
text-align: center;
}
.banniere_candidat .hover_candidat{
    background: #0000006c;
    background-size: cover;
    height:100%;
    width: 100%
}
.banniere_candidat .hover_candidat span{
    position: relative;
    top: 30%;
    color: white;

}
.banniere_candidat .hover_candidat span h1{
    
    font-weight: 700;
    font-size: 32px;
}
.banniere_candidat .hover_candidat span button{
    color: white;
    background: var(--color-primaire);
    width: 15%;
    height: 50px;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
}
.container_candidater .candidater_baniere .candidater_banniere_text{
    color: rgb(0, 0, 0);
    margin-top: 15%;
}
.container_candidater .candidater_search{
    /* border: 1px solid blue; */
    height:70px ;
    width: 100%;
    text-align: center;
    background-color: var(--color-primaire);
    margin-bottom: 3%;


}
.container_candidater .candidater_search input{
    height: 80%;
    width: 40%;
    margin-top: 0.5%;
    border-radius: 40px;
    background: #fff;
    color: #eee;
    border: 0;


}
.container_candidater .candidater_search i{
    color: gray;
    position: relative;
    right: 5%;
   


}
.container_candidater .candidater_search button{
   background-color: var(--color-primaire);
   border-radius: 50px;
   width: 100px;
   height: 45px;
   position: relative;
    right: 7%;
    color: white;
    border:  0;

}
.container_candidater .candidater_search input::placeholder{
  
}
.container_candidater .candidater_categorie {
  display: flex;
  grid-template-columns: 1fr 1fr ;
  /* background-color: #0; */
  width: 80%;
  height: 50px;
  margin: 0 auto;
  grid-auto-flow: column;
  gap: 30%

}
.container_candidater .candidater_categorie .text1{
    /* background-color: red; */
    width:40%;
    height: auto;
    font-weight: 700;
    color: #CE0034;
    font-size: 28px;
    

 
}
.container_candidater .candidater_categorie .candidater_categorie_btn{
    background-color: var(--color-secondaire);
    width: 100%;
    height: 80%;
    display: flex;
    margin-right: 2%;
    gap: 2px;
    border-radius: 50px;
    padding: 3px  3px 3px 5px;

}
.container_candidater .candidater_categorie .candidater_categorie_btn button{
    width: 20%;
    height: auto;
    border-radius: 50px;
    border: 0;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
}
.container_candidater .candidater_categorie .candidater_categorie_btn button:hover{
   
    width: 20%;
    border-radius: 50px;
    background-color: white;
    height: 80%;
    color: var(--color-primaire);
    margin-top: 0.5%;
}
.container_candidater .candidater_categorie .candidater_categorie_btn button:nth-child(1){
    width: 20%;
    border-radius: 50px;
    background-color: white;
    height: 80%;
    color: var(--color-primaire);
    margin-top: 0.5%;
}
/* **************carte******************** */
.container_candidater .candidater_carte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 2% auto;
}
.container_candidater .candidater_carte .card{
   box-shadow: 2px 2px 4px gray;
}

.container_candidater .candidater_carte .card-body .inf {
    display: grid;
    grid-template-columns: 1fr 1fr;
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;
   margin-bottom: 10%;
    width: 100%;
    height: 35%;

}

.container_candidater .candidater_carte .card-body .inf1 {
   width: 50%;
   height: auto;
   /* padding: 10px 10px 10px 10px; */
   border-right: 2px solid #000;

}
.container_candidater .candidater_carte .card-body .inf2 {
   width: 60%;
   height: auto;
/* background-color: aqua; */
   /* padding: 5px 0 10px 0; */


}

.container_candidater .candidater_carte .inf .inf2 ul li{
   /* display: flex; */
   gap: 3%;
   font-size: 10px;
list-style:none ;
}
.container_candidater .candidater_carte .card-body .btn3 {
    padding-bottom: 3%;
  display: grid;
grid-template-columns: 1fr 1fr;
gap: 10%;
margin-top: -8%;


}
.container_candidater .candidater_carte .card-body .btn3 a {
background-color: #CE0034;
border: 0;

}
.container_candidater .candidater_cours{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
   margin-left: 20%;
   margin-top: 4%;
   background-color: rgb(128, 133, 133);

    width: 60%;
    /* background-color: #CE0034; */
    height:100px;
    text-align: center;
    padding: 10px 10px;
}
.container_candidater .candidater_cours img{
    margin: auto auto;
    /* border: 1px solid #000; */
    height: 80px;
    width: 70px;
}
/* -------------btn categories ******* */

@media screen and (max-width:900px) {
    .container_candidater .candidater_carte {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        z-index: 1;
        margin-top: 20%;
       
    }
    .container_candidater .candidater_carte .card{
        
       width: 80%;
       margin: 0 auto;
    }
    .container_candidater .candidater_categorie 
   {
    display: flex;
    flex-direction: column;
    }
    .candidater_categorie_btn button{
        display: flex;
       margin: 0 auto;
      padding: 10px 15px;
        width: 150px !important;
        height: 40px !important;
        background-color: #CE0034 !important;
        font-size: 12px;
        font-weight: 700;
    }
    .candidater_btn1{
        width: 50% !important;
        height: 50px !important;
        margin: 0;
    }
    .candidater_categorie_btn{
        display: flex;
        width: 50%;
        background-color:transparent !important;
        margin-left: -37px;
    }
    
 .candidater_categorie .candidater_categorie_btn button:nth-child(1){
    display: none;
 }
    .candidater_categorie .text1{
       background: #000;
       width: 200px;
    }
    .candidater_search{
       background-color: var(--color-primaire) !important;
       padding: 5px 5px;
       /* margin-left: 25px; */
       width: 100%;
    }
    #btnsearch1{
        width: 30%;
        border-radius: 0;
        height: 80%;
        background: #000;
        color: #fff;
        margin-left: -5px;
        margin-top: 8px;
      
    }
    #searchc{
        width: 60%;
        border-radius: 0;
        margin-left:30px;
    }
}