.formation-alter-banier {
    background-image: url(../page_recrutement_alternance/image/nos_actions-numerique-inclusif___medialibrary_original_570_379.jpg);
    background-repeat: no-repeat;
    width: 100%; 
    height: 600px;
    background-size: cover;

}