.formation-alter-banier {
    background-image: url(../page_recrutement_alternance/image/pédagogie_active.jpg);
    background-repeat: no-repeat;
    width: 100%; 
    height: 600px;
    background-size: cover;

}
@media screen and (max-width:1024px){
.formation-alter-banier{
    width: 100%; 
    height: 300px;
    background-size: cover;
}
.formation-alter-banier h1{
    font-size: 12px;
}
.formation-alter-banier p{
    font-size: 8px;
}

}
@media screen and (max-width:780px){
    .formatio-atern-row{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
    width: 100%;
    /* background-color: aqua; */
    margin: 0 auto;
    }
    .formatio-atern-row-col{
        width: 100% !important;
    }
    .formatio-atern-row-tete{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 25px;
    }
}