*{
    margin: 0;
    padding: 0;
}
.recrutement-banier-contact-dt{
    background-image:url(../page_recrutement_alternance/image/pédagogie_active.jpg);
    background-repeat: no-repeat;
    width: 100%; 
    height: 600px;
    background-size: cover;
}
@media screen and( max-width:768px){
    
}