*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --rouge:#BE002F;
    --blanc:#ffff;
    --rose:#F3E5E9;
    --noire:#00000000;

}
#reference{
    margin: 0 50px;
}
#icons-top-section1-blog i{
    margin-top: 20px;
}
.container-1-section1{
    width: 100%;
    height: 130vh;
    /* border: 3px solid blue; */
}
.container-1-section1 img{
    width: 100%;
    height: 80vh;
    margin-bottom: 0;
   

}
.icons-top-section1-blog span{
    float: right;
    color: var(--blanc);
    /* align-items: center; */
}
.icons-top-section1-blog{
    background-color: black;
    width: 100%;
    height: 10vh;
    
}
.container-cards-blog {
    gap: 20px;
}
.content-section1-blog{
    height: 120vh;
}
.content-blog-text{
    background-color: var(--rose);
    width: 50%;
    height: 90.4vh;
    border-top-right-radius: 48%;
    border-bottom-right-radius: 48%;
    border-bottom: 20px solid var(--rouge);
    border-right: 20px solid var(--rouge) ;
    border-top: 20px solid var(--rouge);
    position: relative;
    top: -1088px;
   
}
.center-line-blog{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 30px;
    background-color: var(--rouge);
    border-radius: 30px;
    margin-top: 100px;
     margin-left: 250px;
    /*margin-right: 100px; */
}

.content-red-blog{
    /* height: 50vh; */
  
}

.content-blog-text h1{
    font-size: 70px;
    padding-left: 50px;
    margin-top: 70px;
}
.content-blog-text hr{
    width: 50%;
    padding-left: 50px;
    border: 3px solid var(--rouge);
}
.content-blog-text h6{
    padding-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}
.icons-top-section1-blog span i{
    font-size: 40px;
    /* color: var(--rouge); */
    margin-right: 20px;
    display: flex;
    place-content: center;
}
.content-red-blog{
    display: flex;
}
.logo-blog span img{
    width: 80px;
    height: 80px;
    background-color: var(--rose);
    display: flex;
    margin: 60px auto;
    background-color: var(--blanc);
    border-radius: 50%;
}
/* .logo-blog span{
    border-radius: 50%;
    background-color: var(--blanc);
    border: 3px solid var(--blanc);
} */
.logo-blog{
    width: 160px;
    height: 170px;
    background-color: var(--rose);
    position: relative;
    top: -1082px;
    margin-left: 650px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
   
}
/* ******Section2******* */
.container-cards-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
}
.container-cards-blog-card1-img img{
    width: 100%;
    height: 36vh;
}
.container-cards-blog-card1{
    background-color: var(--rose);
    padding-bottom: 50px;
    width: 27vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    box-shadow: 1px 1px 5px rgb(117, 117, 117);
}
.container-cards-blog-card1-para a{
    text-decoration: none;
    color: black;
    /* padding-left: 10px;
    padding-right: 10px; */
   padding-top: 40px;
    text-align: justify;
}
.container-cards-blog-card1-time p{
    /* margin-top: 40px; */
    margin-left: 270px;
    margin-top: 30px;

    font-weight: 900;
}
/* ****Section3***** */

.container-cards-blog-temoignages {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    gap: 20px
    ;

}
.container-cards-blog-temoignage-card1-img img{
   width: 50%;
   height: 190px;
   float: right;
  border-radius: 50%;
  border-left: 10px solid var(--rouge);
}
.container-cards-blog-temoignage-card1{
  
    background-color: var(--blanc);
    padding-bottom: 50px;
    width: 27vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    box-shadow: 1px 1px 5px rgb(117, 117, 117);
}
.content-blog-line{
    border: 3px solid var(--rouge);
    width: 20%;
}
.container-cards-blog-temoignage-card1-img{
    background-color: var(--rose);
    width: 100%;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
   
}
.container-cards-blog-temoignage-card1-para a{
    text-decoration: none;
    color: black;
    
}
.para-para-description-blog{
   font-size: 12px;
}
.date-blog{
    margin-left: 250px;
}
.pagination-content-blog-container{
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    background-color: var(--blanc);
    box-shadow: 1px 1px 5px rgb(177, 177, 177);
    margin-top: 50px;
    background-color: var(--rose);
}
.pagination-content-blog{
    border: 1px solid black;
    width: 80px;
    height: 50px;
}
#pagination-content-blog ,#active-pagination-blog{
    display: flex;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
}
#active-pagination-blog{
    background-color: var(--rouge);
    color: var(--blanc);
}
#pagination-content-blog i{
    color: var(--rouge);
}
.content-temoignage{
    text-align: center;
    margin-top: 50px;
}
#content-temoignage {
    width: 10%;
    border: 3px solid var(--rouge);
    margin: 0 auto;
    margin-bottom: 40px;
}
hr:hover{
    animation-play-state: paused;
}
 hr:not(footer hr) {
    animation-name: ref;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   
}

   
    
    

@keyframes ref{
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(50%);
    }
}
.container-cards-blog-card1-img img{
    
    transition: 1s ease-in-out;
    transition-property: scale rotate;
   
}
.container-cards-blog-card1-img img:hover {
    rotate: 10deg;
    scale: 1.3;

}
.container-cards-blog-temoignage-card1-img img:hover{
    transition: 1s ease-in-out;
    transition-property: scale rotate;
    rotate: 10deg;
    scale: 1.1;

}
.container-cards-blog-temoignage-card1 :hover{
    transition: 1s ease-in-out;
    transition-property: scale rotate;
    rotate: 10deg;
    scale: 1.1;

}
.container-cards-blog-temoignage-card1-img:hover{
    transition: 1s ease-in-out;
    transition-property: scale rotate;
    rotate: 10deg;
    scale: 1.1;

}




/* Medias queries */
@media  screen  and (max-width:1442px) {
    .content-blog-text{
        background-color: var(--rose);
        width: 60%;
        height: 90.4vh;
        border-top-right-radius: 48%;
        border-bottom-right-radius: 48%;
        border-bottom: 20px solid var(--rouge);
        border-right: 20px solid var(--rouge) ;
        border-top: 20px solid var(--rouge);
        position: relative;
        top: -1180px;
    }
    .content-blog-text h1{
        font-size: 60px;
        padding-left: 50px;
        margin-top: 100px;
    }
    .logo-blog span img{
        width: 80px;
        height: 80px;
        background-color: var(--rose);
        display: flex;
        margin: 60px auto;
        background-color: var(--blanc);
        border-radius: 50%;
    }
    #logo-blog{
        width: 160px;
        height: 170px;
        background-color: var(--rose);
        position: relative;
        top: -1170px !important;
        margin-left: 650px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        /* border: 10px red; */
       
    }
    
   

    
}
@media  screen  and (max-width:1442px) {
    .container-cards-blog-card1-time p{
        /* margin-top: 40px; */
        margin-left: 0px;
        margin-top: 30px;
        font-weight: 900;
        text-align: center;
    }

}
@media  screen  and (max-width:1116px) {
    .content-blog-text{
        background-color: transparent;
        width: 50%;
        height: 70.4vh;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        border-right:  none ;
        border-top: none;
        position: relative;
        top: -1198px;
       
    }
    /* .container-cards-blog-card1-time p{
        /* margin-top: 40px;
        margin-left: 0px;
        margin-top: 30px;
        font-weight:700;
        text-align: center;
    } */
    .para-para-description-blog{
        font-size: 10px;
        margin-top: 15px;
    }
    .date-blog{
        margin-left: 150px;
    }
    .logo-blog{
        display: none;
    }
    .content-blog-text h6{
        display: none;
    }
}

@media  screen  and (max-width:788px) {
    .content-blog-text{
        /* background-color: var(--rose);
        width: 50%;
        height: 90.4vh;
        border-top-right-radius: 48%;
        border-bottom-right-radius: 48%;
        border-bottom: 20px solid var(--rouge);
        border-right: 20px solid var(--rouge) ;
        border-top: 20px solid var(--rouge);
        position: relative;
        top: -900px; */
        display: none;
    }
    .container-cards-blog-card1-time p{
        /* margin-top: 40px; */
        margin-left: 0px;
        margin-top: 30px;
        font-weight: 900;
        text-align: center;
    }
    .content-section1-blog{
        height: 65vh;
    }
    .logo-blog{
        display: none;
    }
    .ban-img img{
        height: 400px;
    }
    .container-cards-blog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
    }
    .container-cards-blog-card1-img img{
        width: 100%;
        height: 30vh;
    }
    .container-cards-blog-card1{
        background-color: var(--rose);
        padding-bottom: 50px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
       /* margin-left: 20px ;
       margin-right: 20px; */
        box-shadow: 1px 1px 5px rgb(117, 117, 117);
    }
    .container-cards-blog-temoignages {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        gap: 20px
        ;
    
    }
    .container-cards-blog-temoignage-card1-img img{
        width: 100%;
        height: 190px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .container-cards-blog-temoignage-card1{
       
         background-color: var(--blanc);
         padding-bottom: 50px;
         width: 43vw;
         padding-left: 10px;
         padding-right: 10px;
         padding-top: 10px;
         box-shadow: 1px 1px 5px rgb(117, 117, 117);
     }
     .container-cards-blog-temoignage-card1-img img{
        width: 40%;
        height: 125px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .date-blog{
        margin-left: 140px;
    }
    /* #logo-blog{
        width: 160px;
        height: 170px;
        background-color: var(--rose);
        position: relative;
        top: -900px !important;
        margin-left: 650px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        /* border: 10px red; 
       
    } */
    

    #logo-blog{
        width: 160px;
        height: 170px;
        background-color: var(--rose);
        position: relative;
        top: -900px !important;
        margin-left: 650px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        /* border: 10px red; */
       
    }
    .center-line-blog{
        display: flex;
        justify-content: center;
        width: 70%;
        height: 30px;
        background-color: var(--rouge);
        border-radius: 30px;
        margin-top: 100px;
         margin-left: 110px;
        /*margin-right: 100px; */
    }
   

    
}

@media  screen  and (max-width:769px) {
    .content-blog-text{
        /* background-color: var(--rose);
        width: 50%;
        height: 90.4vh;
        border-top-right-radius: 48%;
        border-bottom-right-radius: 48%;
        border-bottom: 20px solid var(--rouge);
        border-right: 20px solid var(--rouge) ;
        border-top: 20px solid var(--rouge);
        position: relative;
        top: -900px; */
        display: none;
    }
    .container-cards-blog-card1-time p{
        /* margin-top: 40px; */
        margin-left: 0px;
        margin-top: 30px;
        font-weight: 900;
        text-align: center;
    }
    .content-section1-blog{
        height: 65vh;
    }
    .logo-blog{
        display: none;
    }
    .ban-img img{
        height: 400px;
    }
    .container-cards-blog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
    }
    .container-cards-blog-card1-img img{
        width: 100%;
        height: 30vh;
    }
    .container-cards-blog-card1{
        background-color: var(--rose);
        padding-bottom: 50px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
       /* margin-left: 20px ;
       margin-right: 20px; */
        box-shadow: 1px 1px 5px rgb(117, 117, 117);
    }
    .container-cards-blog-temoignages {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        gap: 20px
        ;
    
    }
    .container-cards-blog-temoignage-card1-img img{
        width: 100%;
        height: 190px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .container-cards-blog-temoignage-card1{
       
         background-color: var(--blanc);
         padding-bottom: 50px;
         width: 43vw;
         padding-left: 10px;
         padding-right: 10px;
         padding-top: 10px;
         box-shadow: 1px 1px 5px rgb(117, 117, 117);
     }
     .container-cards-blog-temoignage-card1-img img{
        width: 40%;
        height: 125px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .date-blog{
        margin-left: 140px;
    }
    /* #logo-blog{
        width: 160px;
        height: 170px;
        background-color: var(--rose);
        position: relative;
        top: -900px !important;
        margin-left: 650px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        /* border: 10px red; 
       
    } */
    

    #logo-blog{
        width: 160px;
        height: 170px;
        background-color: var(--rose);
        position: relative;
        top: -900px !important;
        margin-left: 650px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        /* border: 10px red; */
       
    }
    .center-line-blog{
        display: flex;
        justify-content: center;
        width: 70%;
        height: 30px;
        background-color: var(--rouge);
        border-radius: 30px;
        margin-top: 100px;
         margin-left: 110px;
        /*margin-right: 100px; */
    }
   

    
}
@media  screen  and (max-width:497px) {
    .container-cards-blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        
    }
    .content-section1-blog{
        height: 80vh;
    }
    .container-cards-blog-card1-img img{
        width: 100%;
        height: 36vh;
    }
    .container-cards-blog-card1{
        background-color: var(--rose);
        padding-bottom: 50px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
       /* margin-left: 20px ;
       margin-right: 20px; */
        box-shadow: 1px 1px 5px rgb(117, 117, 117);
    }
    .container-cards-blog-card1-time p{
        /* margin-top: 40px; */
        margin-left: 0px;
        margin-top: 30px;
        font-weight: 900;
        text-align: center;
    }
    .container-cards-blog-temoignages {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        gap: 20px
        ;
    
    }
    .container-cards-blog-temoignage-card1-img img{
        width: 100%;
        height: 190px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .container-cards-blog-temoignage-card1{
       
         background-color: var(--blanc);
         padding-bottom: 50px;
         width: 100%;
         padding-left: 10px;
         padding-right: 10px;
         padding-top: 10px;
         box-shadow: 1px 1px 5px rgb(117, 117, 117);
     }
     .container-cards-blog-temoignage-card1-img img{
        width: 100%;
        height: 125px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .date-blog{
        margin-left: 140px;
    }
    .container-cards-blog-temoignage-card1-img img{
        width: 40%;
        height: 125px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .center-line-blog{
        display: flex;
        justify-content: center;
        width: 70%;
        height: 30px;
        background-color: var(--rouge);
        border-radius: 30px;
        margin-top: 100px;
         margin-left: 50px;
        /*margin-right: 100px; */
    }
    
   

    
}
@media  screen  and (max-width:392px) {
    .container-cards-blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        
    }
    .content-section1-blog{
        height: 80vh;
    }
    .container-cards-blog-card1-img img{
        width: 100%;
        height: 36vh;
    }
    .container-cards-blog-card1{
        background-color: var(--rose);
        padding-bottom: 50px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
       /* margin-left: 20px ;
       margin-right: 20px; */
        box-shadow: 1px 1px 5px rgb(117, 117, 117);
    }
    .container-cards-blog-card1-time p{
        /* margin-top: 40px; */
        margin-left: 0px;
        margin-top: 30px;
        font-weight: 900;
        text-align: center;
    }
    .container-cards-blog-temoignages {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        gap: 20px
        ;
    
    }
    .container-cards-blog-temoignage-card1-img img{
        width: 100%;
        height: 190px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .container-cards-blog-temoignage-card1{
       
         background-color: var(--blanc);
         padding-bottom: 50px;
         width: 100%;
         padding-left: 10px;
         padding-right: 10px;
         padding-top: 10px;
         box-shadow: 1px 1px 5px rgb(117, 117, 117);
     }
     .container-cards-blog-temoignage-card1-img img{
        width: 100%;
        height: 125px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .date-blog{
        margin-left: 140px;
    }
    .container-cards-blog-temoignage-card1-img img{
        width: 40%;
        height: 125px;
        float: right;
       border-radius: 50%;
       border-left: 10px solid var(--rouge);
     }
     .center-line-blog{
        display: flex;
        justify-content: center;
        width: 70%;
        height: 30px;
        background-color: var(--rouge);
        border-radius: 30px;
        margin-top: 100px;
         margin-left: 50px;
        /*margin-right: 100px; */
    }
    
   

    
}