*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --rouge:#BE002F;
    --blanc:#ffff;
    --rose:#F3E5E9;
    --noire:#00000000;

}

.backgroud-carou-form {
    background-color: black;
}
.backgroud-carou-form img{
    width: 100%;
    height: 580px;
    opacity: 0.7;
}
.access-content-form{
    position: relative;
    top: -140px;
    margin-left: 650px;
}
.access-content-form h2{
    color: var(--blanc);
    font-size: 50px;
}
/* .access-content-form hr{
    border: 5px solid var(--rouge);
    width: 35%;
} */
.content-acc hr{
    border: 5px solid var(--rouge);
    width: 12%;

}


/* Style par défaut pour les balises details */
details {
    cursor: pointer; /* Pour changer le curseur au survol */
    background-color: grey;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(194, 194, 194);
  
}
details summary {
    list-style-type: none;
    color: white;
}






details summary::-webkit-details-marker {
    display: none;
}
summary{
    background-color: grey;

}

/* Style pour l'icône de détail fermé */
details:not([open]) > summary::after {
    content: '\25B8'; /* Utilisez un autre caractère ou une image pour votre icône si vous le souhaitez */
    display: inline-block;
    margin-right: 5px;
     float: right;
}

/* Style pour l'icône de détail ouvert */
details[open] > summary::after {
    content: '\25BE'; /* Utilisez un autre caractère ou une image pour votre icône si vous le souhaitez */
    display: inline-block;
    margin-right: 5px;
    float: right;
}
hr:hover{
    animation-play-state: paused;
}
hr:not(footer hr) {
    animation-name: ref;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
   
    
    

@keyframes ref{
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(50%);
    }
}
 /* debut text-accéssiblité a centrer sur la baniere et dimunuer lea height de la banniere a 391px */

 @media  screen  and (max-width:769px) {
    .access-content-form{
        position: relative;
        top: -140px;
        margin-left: 180px;
    }
   
     

}
@media  screen  and (max-width:391px)  {
  
    .backgroud-carou-form img{
        width: 100%;
        height: 300px !important;
        opacity: 0.7;
    }
    .access-content-form h2{
        color: var(--blanc);
        font-size: 50px;
    }
    .access-content-form{
        position: relative;
        top: -140px;
        margin-left: 20px;
    }
    
}
 /* fin text-accéssiblité a centrer sur la baniere et dimunuer lea height de la banniere a 391px */