.text_entete {
    background-image: url("/image/blockchain.jpeg");
    height: 400px;
    width: 100%;
    padding-top: 120px;
    text-align: left;
    color: white;
    font-size: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 20%; */
}

.entete_mariage {
    font-size: 120px;
    width: 100%;
}
.blockchain1{
 display: flex;
 width: 100%;
 /* height: 100%; */
 margin-top: 30px;
 margin-left: 150px;
padding-bottom: 50px;
}
.bloc_texte{
    width: 50%;
    height: 300px;
    background-color: red;
    color: white;
    justify-content: center;
    border: 1px black solid;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;
}
.bloc_image img{
    width: 450px;
    border: 1px black;
    height: 300px;
}
.summer img{
    width: 100%;
    margin-bottom: 50px;
}
.block2{
    display: flex;
    justify-content: center;
    gap: 200px;
    width: 600px;
    margin-left: 300px;
    
}
.block2 button{
    color: white;
        background-color: black !important;
        border-radius: 20px;
}
.block1{
  justify-content: center;
  color: white;
  background-color: black !important;
  margin-left: 300px;
  width: 110px;
border-radius: 20px;
}
button{
    /* color: white; */
        /* background-color: black !important; */
}
.container img{
    background-color: white;
}
p{
    justify-content: center;
    margin-left: 450px;
    font-size: 30px;
}