.banner {
    height: 400px;
    width: 100%;
    background-color: black;
}

.banner img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.banner .banner-text {
    position: relative;
    color: white;
    top: -350px;
    padding-left: 50px;
}

.banner .banner-text p {
    width: 50%;
    margin-top: 40px;
}

.banner .banner-text button {
    width: 30%;
    background-color: #CE0034;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    height: 50px;
    margin-top: 50px;
}

/* section approche et simulateur */
.section-1 {
    height: auto;
    display: flex;
    width: 98%;
    margin: 0 auto;
    justify-content: space-between;
}

.section-1-items {
    /* background-color: green; */
    width: 49%;
    height: auto;

}

.section-1-items:nth-child(2) {
    margin-top: 225px;

}

.section-1-item {
    width: 100%;
    height: 450px;
    border: 5px #CE0034 dotted;
    background-color: #F3E5E9;
    border-radius: 20px;
}

/* section solo video */
.solo-video {
    width: 98%;
    margin: 0 auto;
    height: 600px;
    border-radius: 20px;
}

.solo-video iframe {

    border-radius: 20px;
}

/* pedagogie */

.pegagogie {
    display: flex;
    width: 80%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    height: auto;
}

.pegagogie-item {
    width: 48%;
    height: 100%;
    background-color: #F3E5E9;
}

.pegagogie-item:nth-child(1) {
    border-radius: 30px 30px 0 0;
}

.pegagogie-item:nth-child(2) {
    border-radius: 0px 0px 30px 30px;
}

.pegagogie-item .image {
    height: 180px;
}

.pegagogie-item .image img {
    width: 100%;
    height: 100%;
}

.pegagogie-item .text {
    height: 350px;
    padding: 10px;
}